{%extends 'base.html'%} {% load bootstrap4 %}{{block.super}} {{form.media}} {% block content %}
<div class="div" style="padding:300px;background-color:rgb(0, 0, 0); background-image: url('http://cleardarksky.com/csk/getcsk.php?id=AftnCyCCA');background-size: cover">



</div>



<div class="container">
    <div class="row">
        {% for project in projects %}
<br>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                        {% if project.user.profile.pro_photo %}
                        <section> <img style="border-radius: 50% ; padding: 0.15rem; background: linear-gradient(to right bottom, #d82c66, #c92e3b, #e15e43, #f3813f, #ffa63e);" class=" img-circle" src="{{project.user.profile.pro_photo.url}}" alt="" width="50px" height="50px"">  <a href="/profiles/{{project.user.id}}" style="color:black"><strong> {{ project.user.username }}</strong></a></a></section>
                        {% else %}
                        <img src="https://mbtskoudsalg.com/images/user-avatar-png-1.png" alt="Avatar" class="img-responsive" style="border-radius:70%; height:70px;"> {{project.user.username }}
                         {% endif %}
                </div>
                <img src="{{project.screenshot.url}}" style="height:200px;">
                <a href="{{project.link}}">{{project.name}}</a>
            </div>
        </div>


        {% endfor %}
    </div>
</div>


{% endblock %}